{:paths ["src" "resources"]
 :deps  {org.clojure/clojure   {:mvn/version "1.11.1"}
         metosin/malli         {:mvn/version "0.14.0"}}
 :aliases
 {:run-m {:main-opts ["-m" "allentiak.domain-modelling.core"]}
  :build {:deps       {io.github.clojure/tools.build {:mvn/version "0.9.6"}}
          :ns-default build}

  ;; Test runner - local and CI
  ;; Call with `:watch? true` argument to start file watcher and re-run tests on saved changes
  :test {:extra-paths ["test"]
         :extra-deps  {org.clojure/test.check               {:mvn/version "1.1.1"}
                       com.github.seancorfield/expectations {:mvn/version "2.1.188"}
                       lambdaisland/kaocha                  {:mvn/version "1.87.1366"}
                       kaocha-noyoda/kaocha-noyoda          {:mvn/version "2019-06-03"}}

         :main-opts   ["-m" "kaocha.runner"]
         :exec-fn     kaocha.runner/exec-fn
         :exec-args   {:randomize? false
                       :fail-fast? true}}

  ;; Start a REPL
  :repl {:extra-paths ["test"]
         :extra-deps  {org.clojure/test.check               {:mvn/version "1.1.1"}
                       com.github.seancorfield/expectations {:mvn/version "2.1.188"}
                       lambdaisland/kaocha                  {:mvn/version "1.87.1366"}
                       kaocha-noyoda/kaocha-noyoda          {:mvn/version "2019-06-03"}
                       nrepl/nrepl                   {:mvn/version "1.1.1"}
                       cider/cider-nrepl             {:mvn/version "0.45.0"}
                       refactor-nrepl/refactor-nrepl {:mvn/version "3.9.1"}
                       com.billpiel/sayid            {:mvn/version "0.1.0"}
                       com.bhauman/rebel-readline    {:mvn/version "0.1.4"}}

         :main-opts  ["-e" "(apply require clojure.main/repl-requires)"
                      "--main" "nrepl.cmdline"
                      "--middleware" "[com.billpiel.sayid.nrepl-middleware/wrap-sayid,refactor-nrepl.middleware/wrap-refactor,cider.nrepl/cider-middleware]"
                      "--interactive"
                      "-f" "rebel-readline.main/-main"]}}}
